.second-text {
  font-weight: 700;
  font-size: 35px;
  line-height: 39px;
  align-items: center;
  padding-top: 160px;
}

.btn-catalog.one {
  padding: 13px 22px 14px 21px;
  margin-bottom: 195px;
}
